@font-face {
  font-family: inter-Var;
  src: url("/public/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf");
  font-weight: 700;
}

@font-face {
  font-family: inter-Var;
  src: url("/public/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf");
  font-weight: 600;
}

@font-face {
  font-family: inter-Var;
  src: url("/public/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf");
  font-weight: 500;
}

@font-face {
  font-family: inter-Var;
  src: url("/public/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf");
  font-weight: 400;
}

@font-face {
  font-family: inter-ital;
  src: url("/public/fonts/Inter/Inter-Italic-VariableFont_opsz\,wght.ttf");
  font-weight: 700;
}

body {
  background-color: #372fcc;
}
h1.main-title {
  padding-top: 30px;
  width: 500px;
  text-align: center;
  font-size: 50px;
  font-weight: 700;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.translateIcon {
  padding: 0px;
  margin: 10px;
  position: relative;
  left: 480px;
  color: white;
  font-size: 25px;
  /* width: 40px; */
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}
